In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(10)
sales = np.array((100 * np.random.rand (5)).astype(int))
sales

array([77,  2, 63, 74, 49])

In [3]:
location = [c for c in 'ABCDE']; location

['A', 'B', 'C', 'D', 'E']

In [4]:
data_np = np.array([sales, location])
data_np

array([['77', '2', '63', '74', '49'],
       ['A', 'B', 'C', 'D', 'E']], dtype='<U11')

In [5]:
df = pd.DataFrame(data_np, columns = ["Sales", "Location"])

ValueError: Shape of passed values is (5, 2), indices imply (2, 2)

In [8]:
data_np = np.array([sales, location]).T
data_np

array([['77', 'A'],
       ['2', 'B'],
       ['63', 'C'],
       ['74', 'D'],
       ['49', 'E']], dtype='<U11')

In [10]:
df = pd.DataFrame(data_np, columns = ["Sales", "Location"])
df

  Sales Location
0    77        A
1     2        B
2    63        C
3    74        D
4    49        E

In [15]:
df.dtypes

Sales        int32
Location    object
dtype: object

In [16]:
df.Sales = df.Sales.astype(int)

In [17]:
df.describe()

           Sales
count   5.000000
mean   53.000000
std    30.553232
min     2.000000
25%    49.000000
50%    63.000000
75%    74.000000
max    77.000000

In [18]:
df.Location

0    A
1    B
2    C
3    D
4    E
Name: Location, dtype: object

In [45]:
df.Sales

0    77
1     2
2    63
3    74
4    49
Name: Sales, dtype: int32

In [46]:
df.loc[:2, 'Location']

0    A
1    B
2    C
Name: Location, dtype: object

In [47]:
df.iloc[-1, :]

Sales       49
Location     E
Name: 4, dtype: object

In [48]:
df.Sales.sort_values(ascending=False)

0    77
3    74
2    63
4    49
1     2
Name: Sales, dtype: int32

In [49]:
df['Month'] = pd.DataFrame(['Jan', 'Feb', 'Mar', 'Apr', 'May']); df

   Sales Location Month
0     77        A   Jan
1      2        B   Feb
2     63        C   Mar
3     74        D   Apr
4     49        E   May

In [54]:
del df['Month']

In [57]:
df1 = df.head()
df2 = df.tail()
df12 = pd.concat([df1, df2])
df12

   Sales Location
0     77        A
1      2        B
2     63        C
3     74        D
4     49        E
0     77        A
1      2        B
2     63        C
3     74        D
4     49        E

In [61]:
df12 = pd.concat([df1, df2], ignore_index=True); df12

   Sales Location
0     77        A
1      2        B
2     63        C
3     74        D
4     49        E
5     77        A
6      2        B
7     63        C
8     74        D
9     49        E

In [73]:
url = 'http://bit.ly/36fGR32'
df2 = pd.read_csv(url)

In [74]:
df2.head()

                           FNAME   FSIZE MONTH  DAY
0                            a2p  112200   Feb   21
1  abrt-action-analyze-backtrace   13896   Feb   22
2          abrt-action-analyze-c   12312   Feb   22
3       abrt-action-analyze-core    6676   Feb   22
4       abrt-action-analyze-oops   10720   Feb   22

In [75]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 4 columns):
FNAME    1280 non-null object
FSIZE    1280 non-null int64
MONTH    1280 non-null object
DAY      1280 non-null int64
dtypes: int64(2), object(2)
memory usage: 30.0+ KB

In [76]:
df2.columns

Index(['FNAME', 'FSIZE', 'MONTH', 'DAY'], dtype='object')

In [78]:
df2.index

RangeIndex(start=0, stop=1280, step=1)

In [79]:
df2.dtypes

FNAME    object
FSIZE     int64
MONTH    object
DAY       int64
dtype: object

In [81]:
df2.DAY = df2.DAY.astype(np.int32)
df2.FSIZE = df2.FSIZE.astype(np.int32)

In [82]:
df2.dtypes

FNAME    object
FSIZE     int32
MONTH    object
DAY       int32
dtype: object